body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

section {
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #ff6600;;
}

button {
    background-color: #ff6600;;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
